<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
   <acl>
     <resources>
        <resource id="Magento_Backend::admin">
            <resource id="SmartPack_WMS::admin" title="SmartPack WMS" sortOrder="10" >
                <resource id="SmartPack_WMS::admin_config" title="Config" sortOrder="99" />
                <resource id="SmartPack_WMS::stock_hook" title="Stock Hook" sortOrder="99" />
            </resource>
        </resource>
     </resources>
   </acl>
</config>
