<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="smartpack" translate="label" sortOrder="10">
            <label>SmartPack</label>
        </tab>
        <section id="smartpack_wms" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>WMS API Configuration</label>
            <tab>smartpack</tab>

            <resource>SmartPack_WMS::admin_config</resource>

            <group id="wms_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>WMS API Configuration</label>
                <field id="wms_api_url" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>WMS API URL</label>
                    <comment></comment>
                </field>
                <field id="wms_api_username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                    <comment></comment>
                </field>
                <field id="wms_api_password" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                    <comment></comment>
                </field>
            </group>
        </section>
    </system>
</config>
